*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
    transition: all 1s;
} 
html{
    scroll-behavior: smooth;
}
.arrow{
    position : fixed; 
    bottom: 10px;
    right :30px;
}
.arrow:hover{
    color: black;
}
.display{
    width : 100%;
    height : 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/mypic\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.display p{
    color: whitesmoke;
    font-size: 13vw;
}
.main{
    position : relative;
    height: 100vh;
    width: 100%;
}
nav{
    height: 60px;
    position: fixed;
    background-color: white;
    top : 0;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.2);
    border-radius: 0px 0px 3px 3px;
}
nav h1 span{
    color: red;
}
nav .menu{
    margin-right : 10px;
    display: none;
    border-color: white;
    width :20px;
    border-radius : 50%;
    cursor: pointer;
}
nav .links{
    display: flex;
    align-content: center;
    width: 50%;
    justify-content: space-evenly;
}
a{ 
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}
a h2:hover{
    color: red;
    transition: .5s;
    padding : 0px 10px ;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#vaccination{
    background-color: greenyellow;
    border: 1px dotted wheat;
    border-radius : 20px;
    padding: 10px;
}
.link{
    position : fixed;
    display: flex;
    top : 0px;
    right : -800px;
    transition: all 1.5s;
    background-color: white;
    height: 100vh;
    width: 270px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.closed{
    position : relative;
    border-radius : 50%;
    top : 40px;
    left : 80px;
    right  : 0px;
}
.menu:hover{
    transition: all 0.3s;
    transform: rotate(180deg);
}
.closed:hover{
    transform: rotate(180deg);        
}
#close{
    background-color: white;
    border: none;
}
#trans{
    color:transparent;
}
.fourdiv{
    background-color: white;
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    width : 100%;
    height: 500px;
    justify-content: space-evenly;
    align-items:center;
}
.item{
    height : 250px;
    width : 250px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.2);

}
.item:hover{
    transform: scale(0.9);
}
.fa-solid{
    color : red;
}
.details{
    height : 1200px;
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-areas: "image1 content1"
                         "image1 image2"
                         "content2 image2";


    justify-content: center;
    column-gap : 30px;
    align-items: center;                     

}
.image1{
    grid-area: image1;
    width : 40vw;
    height: 750px;
    background-color: blueviolet;
    background-image: url(Images/clay-banks-POzx_amnWJw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.content1{
    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height : 300px;
    width : 40vw;

}
.image2{
    grid-area: image2;
    width: 40vw;
    height : 600px;
    background-color: chartreuse;
    background-image: url(Images/vaccination-1215279_1920.jpg);
    background-size: cover;
}
.content2{
    grid-area: content2;
    height : 100px;
    width : 40vw;
    display: flex;
        flex-direction: column;
        justify-content: center;
}
.content2 button{
    background-color:  rgb(146, 168, 235);
    padding :20px;
    border: none;
    color: aliceblue;
}
.steps{
    height : 600px;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-areas: "first second third";
    justify-content: space-evenly;
    align-items : center;
}
.first{
    grid-area: first;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.second{
    grid-area: second;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.third{
    grid-area: third;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.circularpic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: darkseagreen;
    background-size: contain;
    background-repeat: no-repeat;
}
.circularpic2{
    background-image: url(Images/vaccinated2.jpg);
    
}
.circularpic1{
    background-image: url(Images/calender-2579300_1920.jpg);
}
.circularpic3{
    background-image: url(Images/pexels-cottonbro-7578816.jpg);
    background-size: cover;
}
.support{
    height : 400px;
    width: 100%;
    background-color: darkgray;
}
@media only screen and (max-width: 320px){
    #vaccination{
        display: none;
    }
    
}
@media only screen and (max-width: 600px){
    nav{
        justify-content: space-between;
    }
    nav .menu{
        display: block;
    }
    nav .links{
        display: none;
    }
}

@media (min-width: 601px) and (max-width : 2560px)  {
    .link{
        transition: all 1.5s;
        background-color: white;
        height: 0vh;
        width: 0px;
    }
    .link{
        display: none;
    }
    #vaccination{
        margin-right:2%;
    }
    
}
@media (min-width: 1550px) and (max-width : 2560px){
    nav{
        font-size: 9vw;
    }
    #vaccination{
        font-size: 9vw;
    }
}
@media (min-width: 561px) and (max-width : 1100px){
    .fourdiv{
        background-color: white;
        display: grid;
        grid-template-areas: "item1 item2"
                             "item3 item4";
        width : 100%;
        height: 650px;
        justify-content: space-around;
        align-items:center;
    }
    
} 
@media only screen and (max-width : 560px){
    .fourdiv{
        background-color: white;
        display: grid;
        grid-template-areas: "item1"
                             "item2"
                             "item3"
                             "item4";
        width : 100%;
        height: 1300px;
        justify-content: space-around;
        align-items:center;
    }
    
}
@media only screen and (max-width : 600px){
    .details{
        height : 2000px;
        width: 100%;
        background-color: aliceblue;
        display: grid;
        grid-template-areas: "image1"
                             "content1"
                             "image2"
                             "content2";
    
    
        justify-content: space-evenly;
        align-items: center;                     
    }
    .image1{
        grid-area: image1;
        width : 80vw;
        height: 750px;
        background-color: blueviolet;
        background-image: url(Images/clay-banks-POzx_amnWJw-unsplash.jpg);
        background-position: center;
        background-size: cover;
    }
    .content1{
        grid-area: content1;
        height : 300px;
        width : 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    .image2{
        grid-area: image2;
        width: 80vw;
        height : 600px;
        background-color: chartreuse;
        background-image: url(Images/vaccination-1215279_1920.jpg);
        background-size: cover;
    }

    .content2{
        grid-area: content2;
        height : 100px;
        width : 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .steps{
        height : 1400px;
        width: 100%;
        background-color: transparent;
        display: grid;
        grid-template-areas: "first" "second" "third";
        justify-content: space-around;
        align-items : center;
    }

}




